@import '../Settings/_settings.colors';
@import '../Settings/_settings.breakpoints';
@import '../Tools/_tools.mixins';

.btn-accept {
    background-color: $third-color-blue !important;
    transition: all 0.3s ease-out;

    &:hover {
        background-color: $fourth-color-blue !important;
    }
}

.btn-default {
    cursor: pointer;
    text-transform: uppercase;
    background-color: $third-color-blue !important;
    padding: 0.625rem 1.5rem 0.5rem 1.5rem;
    font-size: .75rem;
    line-height: 1.5;
    border-radius: 4px;
    border: none;
    transition: all 0.3s ease-out;

    &:hover {
        background-color: $fourth-color-blue !important;
    }

    &:active,
    &:not([disabled]):not(.disabled):active {
        background-color: $fourth-color-blue !important;
    }
}

.btn-convert {
    cursor: pointer;
    width: 110px;
    @include primary-box-shadow-black;
    background-color: $third-color-blue;
    color: $seventh-color-white;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: 1px solid $third-color-blue;
    transition: all 0.3s ease-out;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    @include for-phone-only {
        width: 50%;
        justify-content: center;
    }

    &:hover {
        background-color: $fourth-color-blue;
    }
}

//for btn-convert!!!
.span-convert {
    transition: all 0.3s ease-out;
}

.long-arrow-alt-right {
    opacity: 0;
    transition: all 0.3s ease-out;
}

.btn-convert-currency:hover > .span-convert {
    transform: translateX(-7px);
}

.btn-convert-currency:hover > .long-arrow-alt-right {
    opacity: 1;
}


.btn-reset {
    cursor: pointer;
    width: 110px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid $background-primary-black;
    background-color: $background-primary-black;
    color: $seventh-color-white;
    @include primary-box-shadow-black;
    transition: all 0.3s ease-out;

    &:hover {
        border: 1px solid $background-secondary-black;
        background-color: $background-secondary-black;
    }
}
