@import '../Settings/_settings.colors';
@import '../Tools/_tools.mixins';

.container-toastr {
    display: none;
    opacity: 0;
    cursor: pointer;
    width: 300px;
    z-index: 9999;
    position: fixed;
    top: 100px;
    right: 10px;
    padding: 20px;
    border-radius: 5px;
    color: #ffff;
    @include primary-box-shadow-black;

    .toastr-title {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;

        .fa-check-circle,
        .fa-info-circle,
        .fa-exclamation-circle,
        .fa-exclamation-triangle {
            font-size: 30px;
        }
    }
}