@import '../Tools/_tools.mixins';

.navbar-container {
    width: 100%;
    height: 70px;
    position: sticky;
    top: 0px;
    z-index: 999;

    @include for-tablet-down {
        height: auto;
    }

    .containert-nav-second {
        z-index: 998;
    }

    .navbar-left-icon-bars {
        cursor: pointer;
        font-size: 26px;
        color: $third-color-blue !important;
        margin-right: 15px;
        border: 1px solid transparent;
        border-radius: 50%;
        padding: 2px 9px !important;
        transition: all 0.3s ease-out;

        &:hover {
            background: $secondary-color-blue;
        }
    }


    .nav-logo {
        width: 32px;
        margin-right: 10px;
    }

    .nav-second-logo {
        width: 32px;
    }

    .icon-bars {
        color: $third-color-blue !important;
    }

    .navlist {
        display: flex;
        align-items: center;
    }

    .navbar-item {
        height: 30px !important;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 15px;
        font-weight: 300;
        position: relative;

    }

    .navlink {
        font-size: 16px;
        margin: 0px;
        font-weight: 400 !important;
        padding: 3px 0px !important;
        color: $third-color-blue !important;
        transition: color 0.3s ease-out;

        &:hover {
            color: $fourth-color-blue !important;
        }
    }

    .navbar-under-line {
        width: 0px;
        height: 1px;
        position: absolute;
        top: 30px;
        left: 0px;
        background-color: $third-color-blue !important;
        transition: all 0.3s ease-out;
    }

    .navlink:hover ~ .navbar-under-line {
        width: 100%;
    }

    .caret-icons {
        font-size: 12px;
        margin-left: 5px;
        color: $third-color-blue;
    }

    //
    // Dropdown Menu
    //
    .dropdown-container {
        overflow: hidden;
        border-radius: 8px !important;
        @include primary-box-shadow-black;

        .dropdown-navlink {
            font-size: 16px !important;
            margin: 0;
            padding: 3px 5px;
            color: $third-color-blue !important;
            transition: all 0.3s ease-out;
        }

        .dropdown-navlink:hover {
            background-color: $secondary-color-blue;
        }
    }

    .nav-title {
        color: $third-color-blue !important;
        font-weight: 400;
        border-bottom: 1px solid $third-color-blue;
    }


    //
    // Search Form
    //
    .form-search {
        display: flex;
        width: 350px;

        @include for-tablet-down {
            
            width: 50%;
            margin: 0px auto;
        }

        @include for-phone-only {
            width: 100%;
        }

        .btn-search {
            margin: 0;
            background-color: $third-color-blue !important;
            transition: all 0.3s ease-out;
    
            &:hover {
                background-color: $fourth-color-blue !important;
            }
        }
    
        .search-input {
            color: $fourth-color-blue !important;
    
            &:focus {
                @include input-select-focus;
            }
            
            &::placeholder {
                color: $third-color-blue;
            }
        }
    }

    //
    // Notification dropdaown menu
    //
    .container-notification .dropdown-toggle::after {
        display: none !important;
        opacity: 0 !important;
    }

    .navlink-bell {
        border: 1px solid transparent;
        border-radius: 50%;
        padding: 5px 10px !important;
        transition: all 0.3s ease-out;

        &:hover {
            background: $secondary-color-blue;
        }
    }

    .container-modal {
        .notification-options-modal {
            width: 300px;
            height: auto;
            position: fixed;
            top: 70px !important;
            right: 20px !important;
            margin-left: auto !important;
        }
    }
}



