@import '../Settings/_settings.colors';

/* colors */
/* background colors */
@-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}


@mixin primary-box-shadow-black {
	-webkit-box-shadow: 0px 10px 13px -7px rgba(0,0,0,0.48), 0px 0px 33px 15px rgba(0,0,0,0.2) !important; 
	box-shadow: 0px 10px 13px -7px rgba(0,0,0,0.48), 0px 0px 20px 7px rgba(0,0,0,0.2) !important;
}

@mixin input-select-focus {
	outline: 0 none !important;
    border-color: $third-color-blue !important;
    box-shadow: 0 1px 1px rgba(0,0,0, 0.095) inset, 0 0 8px rgba(77,147,217, 0.45) !important;
}