
@keyframes rotate-infinity {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes cookie-animation {
    0% {
        transform: translateY(400px);
    }

    100% {
        transform: translateY(0px);
    }
}