/* colors */
$primary-color-blue: rgba(110,139,207,1);
$secondary-color-blue: rgba(149,173,221,0.45);
$third-color-blue: #3B71CA;
$fourth-color-blue: rgb(58,87,150);
$five-color-white: rgb(251,251,251);
$six-color-white: rgb(202,202,202);
$seventh-color-white: rgb(221,221,221);

/* background colors */
$background-primary-black: rgb(38,38,38);

