
//loading fontawesome icons that sass!
@import url("./public/fontawesome/css/all.css");
@import url("./public/fontawesome/css/brands.css");
@import url("./public/fontawesome/css/fontawesome.css");
@import url("./public/fontawesome/css/solid.css");
@import url("./public/fontawesome/css/regular.css");


@import url("./public/fontawesome/scss/brands.scss");
@import url("./public/fontawesome/scss/fontawesome.scss");
@import url("./public/fontawesome/scss/solid.scss");
@import url("./public/fontawesome/scss/regular.scss");


@import './public/sass/Generic/_generic.reset';

@import './public/sass/Settings/_settings.fonts';
@import './public/sass/Settings/_settings.colors';
@import './public/sass/Settings/_settings.breakpoints';

@import './public/sass/Objects/_object.container';

@import './public/sass/Elements/_element.h5';
@import './public/sass/Elements/_element.hr';
@import './public/sass/Elements/_element.under-line';
@import './public/sass/Elements/_element.btn';
@import './public/sass/Elements/_element.span';
@import './public/sass/Elements/_element.h3';
@import './public/sass/Elements/_element.select';
@import './public/sass/Elements/_element.input';
@import './public/sass/Elements/_element.table';


@import './public/sass/Components/_component.navigation';
@import './public/sass/Components/_component.leftMenu';
@import './public/sass/Components/_component.footer';
@import './public/sass/Components/_component.accordion';
@import './public/sass/Components/_component.othersMenu';
@import './public/sass/Components/_component.cookie';
@import './public/sass/Components/_component.pageNotFound';
@import './public/sass/Components/_component.toastr';
@import './public/sass/Components/_component.loading';

@import './public/sass/Components/_component.currency';
@import './public/sass/Components/_component.number-convertor';


body {
  width: 100%;
  min-height: 100%;
  display: flex;
  -webkit-display: flex;
  flex-direction: column;
  -webkit-display: column;
  background-color: rgba(192, 225, 240, 0.35) !important;
  padding: 0 !important;
}


body hr {
  min-width: 500px;
  height: 1px !important;
  margin-right: auto !important;
  background: linear-gradient(2deg, rgb(91, 98, 104) 65%, rgb(213, 248, 255) 100%);
}

